div.panel-cropan div.panel-body {
    padding: 0;
}

img.cropan {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 250px;
    width: 100%;
    border-radius: 6px 6px 0 0;
}

img.cropan-big {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    max-width: 100%;
    border-radius: 6px 6px 0 0;
    max-height: 85vh;
}

body {
    background-color: #e8e8e8;
    padding-bottom: 70px;
}

div.tag {
    float: left;
    margin-right: 5px;
}
div.directory-btn-group {
    width: 100%;
    margin-bottom: 5px;
}
div.directory-btn-group a {
    width: 25%;
}
div.directory-btn-group a:first-of-type {
    width: 15%;
}
div.directory-btn-group a:last-of-type {
    width: 60%;
    text-align: left;
}

body.front {
    background: url('/img/gentlemen.jpg') no-repeat center center fixed;
    background-size: cover;
}

.jumbotron {
    margin-top: 10em;
    padding: 2rem 0em;
}